<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Books Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Welcome, {{request.session.first_name}}!</h1>
        <p>
            <a href={% url 'books:add' %}>Add Book and Review</a> | 
            <a href={% url 'users:logout' %}>Logout</a>
        </p>
        <h2>Recent Book Reviews:</h2>
        {% for review in reviews %}
        <h3><a href={% url 'books:display_book' id=review.book_id %}>{{review.book_title}}</a></h3>
        <p>Rating: {{review.rating}}</p>
        <p>
            <a href={% url 'users:user' id=review.user_id%}>{{review.user}}</a> says: {{review.review}}
        </p>
        <p>Posted on {{review.posted}}</p>
        <br>
        {% endfor %}

        <h2>Other Books with Reviews:</h2>
        <ul>
        {% for book in books %}
            <li>
                <a href={% url 'books:display_book' id=book.book_id %}>{{book.book_title}}</a>
            </li>
        {% endfor %}
        </ul>
    </body>
</html>